<% content_for :page_title do %>
  <%= t(:listing_comments_without_read) %>
<% end %>

<% content_for :page_actions do %>
    <li><%= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
 <% end %>

<table class="index">
  <colgroup>
    <col style="width: 18%" />
    <col style="width: 15%" />
    <col style="width: 20%" />
    <col style="width: 47%" />
  </colgroup>
  <thead>
    <tr>
      <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
      <th><%= t(:type) %></th>
      <th><%= t(:commenter) %></th>
      <th><%= t(:comment) %></th>
      <th><%= t(:show) %></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.reverse.each_with_index do |comment, index| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td class='align-center'><%= pretty_time(comment.created_at) %></td>
        <td class='align-center'><%= comment.comment_type.try(:name) || 'None' %></td>
        <td class='align-center'><%= comment.user.email %></td>
        <td><%= truncate(comment.comment, :length => 40) %></td>
        <%if comment.read_comment? %>
            <td><%= link_to "Leido", :controller => "comments", :action => "show", :id => comment, :order => @order%></td>
        <%else%>
 <td><%= link_to "Sin leer", :controller => "comments", :action => "show", :id => comment, :order => @order%></td>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
